<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="phpBB Test Suite">
            <directory suffix="_test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>functional</group>
            <group>slow</group>
        </exclude>
    </groups>

    <filter>
        <blacklist>
            <directory>./language/</directory>
            <directory>./tests/</directory>
            <directory>../../../../tests/</directory>
            <directory>../../../includes/</directory>
            <directory>../../../phpbb/</directory>
            <directory>../../../vendor/</directory>
        </blacklist>
    </filter>
</phpunit>
